body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.app {
  max-width: 500px;
  margin: auto;
  text-align: center;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 50px;
}

.note {
  background: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
